@import './theme';
@import '~bulma-divider';
@import '~@fortawesome/fontawesome-svg-core/styles';

.full-width {
  width: 100%;
}
.full-height {
  height: 100vh;
}
.full-height-min {
  min-height: 100vh;
}

.half-height {
  height: 50vh;
}
.text-center {
  text-align: center;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.has-text-danger-medium {
  color: rgb(232, 32, 102);
}

.has-text-primary-medium {
  color: lightseagreen;
}

.clickable {
  cursor: pointer;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.is-underlined {
  text-decoration: underline;
}

#home-hero {
  background: url('/assets/hero/home.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#blog-post-banner {
  background: url('/assets/hero/home.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: center;
}

#blog-hero {
  background: url('/assets/hero/blog.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  border-radius: 5px;
}

.post-card-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.meta-panel-image {
  border-radius: 20px;
}

.butter-image-footer {
  width: 150px;
  height: auto;
}

.top-tag {
  cursor: pointer;
}

.top-tag:hover {
  cursor: pointer;
  background-color: #feecf0;
  color: #cc0f35;
}

.main-navbar {
  box-shadow: 0 5px 20px -10px #000;
}

.sticky-navbar {
  position: sticky;
  top: 0;
}

.navbar-item {
  cursor: pointer;
}

.navbar-item-text:hover {
  color: lightgray;
}

.navbar-item-active {
  border-bottom: 1px solid rgb(240, 70, 104);
}

.navbar-separator {
  border-left: 1px solid rgb(240, 70, 104);
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.social-media-button {
  color: white;
}
.social-media-button:hover {
  color: lightgray;
  // color: hsl(347, 90%, 96%);
}

.social-media-button2 {
  color: hsl(0, 0%, 86%);
}
.social-media-button2:hover {
  color: hsl(0, 0%, 21%);
  // color: hsl(347, 90%, 96%);
}

.underline-bold {
  border-bottom: 3px solid rgb(240, 70, 104);
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.is-aligned-bottom {
  display: flex;
  align-items: flex-end;
}

.underlined-on-hover {
}
.underlined-on-hover:hover {
  border-bottom: 2px solid rgb(240, 70, 104);
}

@include until($tablet) {
  .navbar-menu {
    display: block;
    opacity: 0;

    position: absolute; /* or float: left; width: 100%;*/
    left: 0;
    right: 0;

    transform: translateY(-20%);
    transition: all 0.333s ease;
    pointer-events: none;
  }

  .navbar-menu.is-active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}

@media screen and (max-width: 768px), print {
  .button.is-fullwidth-mobile {
    display: flex;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.navbar-item.navbar-center {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

#search-box {
  background-color: transparent;
  color: white;
  border-bottom: 1px solid rgb(240, 70, 104);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 300px;
  font-size: 18px;
  font-weight: normal;
  cursor: text;
}

#search-box:focus {
  outline: none;
  border-bottom: 1px solid rgb(240, 70, 104);
}

#search-icon {
  cursor: pointer;
  color: lightseagreen;
}
