@import './theme';
@import '~bulma-divider';
@import '~@fortawesome/fontawesome-svg-core/styles';
// @import '~hamburgers';

.full-width {
  width: 100%;
}
.full-height {
  height: 100vh;
}
.full-height-min {
  min-height: 100vh;
}
.text-center {
  text-align: center;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.has-text-danger-medium {
  color: rgb(232, 32, 102);
}

.has-text-primary-medium {
  color: lightseagreen;
}

.sticky-navbar {
  position: sticky;
  top: 0;
}

.navbar-item-active {
  border-bottom: 1px solid rgb(240, 70, 104);
}

.social-media-button {
  color: white;
}
.social-media-button:hover {
  color: lightcyan;
  // color: hsl(347, 90%, 96%);
}

.social-media-button2 {
  color: hsl(0, 0%, 86%);
}
.social-media-button2:hover {
  color: hsl(0, 0%, 21%);
  // color: hsl(347, 90%, 96%);
}

.underline-bold {
  border-bottom: 3px solid rgb(240, 70, 104);
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.is-aligned-bottom {
  display: flex;
  align-items: end;
}

.underlined-on-hover {
}
.underlined-on-hover:hover {
  border-bottom: 2px solid rgb(240, 70, 104);
}

@include until($tablet) {
  .navbar-menu {
    display: block;
    opacity: 0;

    position: absolute; /* or float: left; width: 100%;*/
    left: 0;
    right: 0;

    transform: translateY(-20%);
    transition: all 0.333s ease;
    pointer-events: none;
  }

  .navbar-menu.is-active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}

@media screen and (max-width: 768px), print {
  .button.is-fullwidth-mobile {
    display: flex;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
